

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideInFromLeft 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: slideInFromLeft 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideInFromRight 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: slideInFromRight 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 10rem;
  height:15rem;
  background-color: antiquewhite;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.card.show {
  opacity: 1;
  transform: translateY(0); 
}

.container-content
{
  display: flex;
  gap:2rem;
}
.card-bg
{
  width: 100%;
  height:inherit;
  background-size: cover;
  background-position: center;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.card-active
{
  border: 5px rgb(148, 41, 41) solid;
  box-shadow: 19px 21px 0px -6px rgba(0,0,0,1);
-webkit-box-shadow: 19px 21px 0px -6px rgba(0,0,0,1);
-moz-box-shadow: 19px 21px 0px -6px rgba(0,0,0,1);
}

.read-the-docs {
  color: #888;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}






